<mat-toolbar>
  <span>Andde Xoko Txapelketa</span>
</mat-toolbar>
<main>
  <mat-accordion>
    @for (group of tournament.Groups; track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ group.Name }} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
          @for (rotation of group.Rotations; track $index) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ rotation.Name }} </mat-panel-title>
              </mat-expansion-panel-header>
              @for (match of rotation.Matches; track $index) {
                <mat-card>
                  <mat-card-content>
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <div class="line">
                          {{ match.Scores[0].PlayerName }}
                          <mat-form-field>
                            <input
                              type="number"
                              step="1"
                              min="0"
                              matInput
                              [(ngModel)]="match.Scores[0].EditedPoints"
                            />
                          </mat-form-field>
                        </div>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <div class="line">
                          {{ match.Scores[1].PlayerName }}
                          <mat-form-field>
                            <input
                              type="number"
                              step="1"
                              min="0"
                              matInput
                              [(ngModel)]="match.Scores[1].EditedPoints"
                            />
                          </mat-form-field>
                        </div>
                      </mat-list-item>
                    </mat-list>
                  </mat-card-content>
                  <mat-card-actions align="end">
                    <button
                      matButton
                      [disabled]="
                        isDisabled
                          | apply
                            : match
                            : match.Scores[0].EditedPoints
                            : match.Scores[1].EditedPoints
                      "
                      (click)="cancel(match)"
                    >
                      Abandonner
                    </button>
                    <button
                      matButton="filled"
                      [disabled]="
                        isDisabled
                          | apply
                            : match
                            : match.Scores[0].EditedPoints
                            : match.Scores[1].EditedPoints
                      "
                      (click)="save(match)"
                    >
                      Valider
                    </button>
                  </mat-card-actions>
                </mat-card>
              }
            </mat-expansion-panel>
          }
        </mat-accordion>
      </mat-expansion-panel>
    }
  </mat-accordion>
</main>
