<mat-accordion>
  @for (group of tournament().Groups; track $index; let groupIndex = $index) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ group.Name }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        @for (rotation of group.Rotations; track $index) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> {{ rotation.Name }} </mat-panel-title>
            </mat-expansion-panel-header>
            @for (match of rotation.Matches; track $index) {
              <mat-card>
                <form>
                  <mat-card-content>
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <div class="line">
                          {{ getPlayerNameFromID(group, match.Scores[0].ID) }}
                          <mat-form-field>
                            <input
                              type="number"
                              step="1"
                              min="0"
                              max="3"
                              matInput
                              [(ngModel)]="match.Scores[0].Points"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </mat-form-field>
                        </div>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <div class="line">
                          {{ getPlayerNameFromID(group, match.Scores[1].ID) }}
                          <mat-form-field>
                            <input
                              type="number"
                              step="1"
                              min="0"
                              max="3"
                              matInput
                              [(ngModel)]="match.Scores[1].Points"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </mat-form-field>
                        </div>
                      </mat-list-item>
                    </mat-list>
                  </mat-card-content>
                  <mat-card-actions align="end">
                    <button matButton (click)="cancel(match)">Abandonner</button>
                    <button type="submit" matButton="filled" (click)="save(groupIndex, group)">
                      Valider
                    </button>
                  </mat-card-actions>
                </form>
              </mat-card>
            }
          </mat-expansion-panel>
        }
      </mat-accordion>
    </mat-expansion-panel>
  }
</mat-accordion>
